<section>
    <table>
        <thead>
            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Poäng</th>
                <th>Ämne</th>
                <th>Kursplan</th>
                <th>Lägg till</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DT202G</td>
                <td>Webbdesign 1</td>
                <td>7,5</td>
                <td>Webbutveckling</td>
                <td><a href="/">Kursplan</a></td>
                <td><button class="btn">Lägg till</button></td>
            </tr>
        </tbody>
    </table>       
</section>