footer {
    width: 100%;
    background-color: #6C698D;
    color: #fff;
    padding: 1rem;
}

p {
    font-size: 12px;
}

.logo {
    max-width: 100px;

    img {
        width: 100%;
        height: auto;
    }
}

.wrap {
    margin-bottom: 2rem;
}