section {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 2rem;
}

div {
    display: grid;
}

// Form

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    display: block;
    width: 100%;
    font: inherit;
}

// media quereie
@media (max-width: 570px) {
    section {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}